---
import SkipForward from "@assets/actions/skip-forward.svg";
import { cn } from "@/utils";

import ShiftKey from "@assets/keys/shift.svg";
import EscKey from "@assets/keys/esc.svg";
import Close from "@assets/actions/close.svg";

type ElementsVisibility = { key: "skip-animation"; visible: boolean }[];
interface Props {
    id: string;
    title: string;
    position?: "top" | "bottom" | "left" | "right";
    visibilities: ElementsVisibility;
    description?: string;
    className?: string;
    containerClassName?: string;
}

const {
    id,
    title,
    position = "left",
    visibilities = [{ key: "skip-animation", visible: true }],
    description,
    className,
    containerClassName,
} = Astro.props;
---

<script>
    class Popup extends HTMLElement {
        static EVENTS = {
            POPUP_OPEN: "popup-open",
            POPUP_CLOSE: "popup-close",
            POPUP_SKIP_FORWARD: "popup-skip-forward",
        };

        #triggerElement: HTMLElement | null = null;
        #closeButton?: HTMLElement | null = null;
        #popupContainer?: HTMLElement | null = null;
        #skipForwardButton?: HTMLElement | null = null;

        #popupOpenEvent = new CustomEvent(Popup.EVENTS.POPUP_OPEN, {
            bubbles: true,
        });

        #popupCloseEvent = new CustomEvent(Popup.EVENTS.POPUP_CLOSE, {
            bubbles: true,
        });

        #popupSkipForwardEvent = new CustomEvent(
            Popup.EVENTS.POPUP_SKIP_FORWARD,
            {
                bubbles: true,
            }
        );

        connectedCallback() {
            this.#init();
            this.#registerVisibilityEvents();
            this.#registerActionsEvents();
            this.#registerKeysEvents();
        }

        #init() {
            const popupId = this.dataset.id;
            if (!popupId) throw new Error("Popup container id is not defined");

            this.#triggerElement = this.querySelector(".popup-trigger");
            this.#closeButton = this.querySelector(".popup-close");
            this.#popupContainer = this.querySelector(
                `#popup-container-${popupId}`
            );
            this.#skipForwardButton = this.querySelector(
                ".popup-skip-animation"
            );
        }

        #registerVisibilityEvents() {
            this.#triggerElement?.addEventListener("click", () => {
                this.#popupContainer?.classList.remove("hidden");
            });

            this.#closeButton?.addEventListener("click", () => {
                this.#popupContainer?.classList.add("hidden");
            });
            this.#popupContainer?.addEventListener("click", (e) => {
                if (e.target === this.#popupContainer) {
                    this.#popupContainer?.classList.add("hidden");
                }
            });
        }

        #registerActionsEvents() {
            this.#triggerElement?.addEventListener("click", () => {
                this.dispatchEvent(this.#popupOpenEvent);
            });

            this.#closeButton?.addEventListener("click", () => {
                this.dispatchEvent(this.#popupCloseEvent);
            });

            this.#skipForwardButton?.addEventListener("click", () => {
                this.dispatchEvent(this.#popupSkipForwardEvent);
            });
        }

        #registerKeysEvents() {
            document.addEventListener("keydown", (e) => {
                if (this.#popupContainer?.classList.contains("hidden")) return;

                if (e.key === "Escape") {
                    this.#popupContainer?.classList.add("hidden");
                    this.dispatchEvent(this.#popupCloseEvent);
                } else if (e.key === "Shift") {
                    this.dispatchEvent(this.#popupSkipForwardEvent);
                }
            });
        }
    }
    customElements.define("pop-up", Popup);
</script>

<pop-up data-id={id} id={id} aria-modal="false">
    <div class="popup-trigger">
        <slot name="trigger" />
    </div>
    <div
        id=`popup-container-${id}`
        class="hidden w-screen h-screen backdrop-blur-xl bg-opacity-50 fixed z-1000 top-0 left-0"
    >
        <div
            class={cn(
                `popup-content max-w-10/12 -translate-y-1/2 top-1/2
        rounded-lg -translate-x-1/2 left-1/2 absolute flex items-start justify-center isolate p-2`,
                className
            )}
        >
            {
                title !== "" && (
                    <div class="title">
                        <h1>{title}</h1>
                    </div>
                )
            }
            <div class={cn("popup-content-container", containerClassName)}>
                <slot name="content" />
            </div>
            <div
                id="popup-actions"
                class={cn(
                    "p-2 gap-2 w-12 flex flex-col justify-center items-center bg-[var(--popup-actions-background)] rounded-md",
                    !title && "top-4"
                )}
            >
                <button class="popup-close action" aria-label="Close popup">
                    <Close />
                </button>
                {
                    visibilities.find((v) => v.key === "skip-animation")
                        ?.visible && (
                        <button
                            class="popup-skip-animation action"
                            aria-label="Skip animation"
                        >
                            <SkipForward />
                        </button>
                    )
                }
            </div>
            <div id="keys-container">
                <EscKey class="small key" />
                <ShiftKey class="big key" />
            </div>
        </div>
    </div>
</pop-up>

<style>
    @reference "../styles/global.css";

    #keys-container {
        @apply h-full flex flex-col justify-center gap-2 z-10 mt-[5px];
    }

    .title {
        @apply text-center text-2xl font-bold text-ellipsis;
    }

    .popup-content-container {
        @apply flex flex-col min-w-max overflow-x-scroll relative text-wrap justify-center items-center px-2 rounded-md;
    }

    .key.big {
        @apply h-6 w-8 scale-160;
    }

    .key.small {
        @apply h-6 w-6 scale-160;
    }

    .key {
        @apply cursor-default ml-4 self-start;
    }

    .action {
        @apply bg-[var(--popup-actions)] rounded-md hover:scale-90 w-fit;
    }

    svg {
        @apply cursor-pointer h-5 w-5 m-2;
    }
</style>
