---
import DarkLightSwitcher from "@components/special/DarkLightSwitcher.astro";
import PersonalityPopup from "@popups/PersonalityPopup.astro";

import { SEO } from "astro-seo";
import { Font } from "astro:assets";

import "@/styles/global.css";

type Props = {
  title?: string;
  renderUtilitiesPanel?: boolean;
};

const { title, renderUtilitiesPanel = true } = Astro.props;
const defaultTitle = "Spinozanilast's Diary";
const fullTitle = title ? `${title} — ${defaultTitle}` : defaultTitle;
const description = "Spinozanilast's Diary or better to say, that there would be some info about Vadim Budchanin. Yeah, that's me, and I'm writing this diary/blog/devlog and a lot of other stuff.";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      titleTemplate={`%s — ${defaultTitle}`}
      titleDefault={defaultTitle}
      description={description}
      openGraph={{
        basic: {
          title: fullTitle,
          type: "website",
          image: "/favicon.svg",
          url: Astro.url,
        },
        optional: {
          description,
          siteName: "Spinozanilast's Diary",
          locale: "en_US",
        },
        image: {
          alt: "Spinozanilast logo",
        },
      }}
      twitter={{
        card: "summary",
        title: fullTitle,
        description,
        image: "/favicon.svg",
        imageAlt: "Spinozanilast logo",
      }}
    />
    <meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" /><meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-departure-mono" preload />
    <Font cssVariable="--font-pixelify-sans" preload />
    <Font cssVariable="--font-retrogression" preload />
    <Font cssVariable="--font-extrude" preload />
  </head>
</html>
<body>
  {
    renderUtilitiesPanel && (
      <div class="bg-section-background rounded-xsl absolute top-1.5 right-1.5 z-10 flex flex-row gap-2 p-2">
        <DarkLightSwitcher />
        <PersonalityPopup />
      </div>
    )
  }
  <slot />
  <button id="back-to-top" class="text-dm-base font-departuremono bg-section-secondary text-accent fixed right-4 bottom-4 z-100 hidden rounded-md p-1" title="back to top" aria-label="back to top">
    ↑
  </button>
</body><script is:inline>
  const theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  document.documentElement.setAttribute("data-theme", theme);

  const backToTopButton = document.getElementById("back-to-top");
  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      backToTopButton.style.display = "block";
    } else {
      backToTopButton.style.display = "none";
    }
  });
  backToTopButton.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }

  body {
    @apply font-["PixelifySans"];
  }
</style>
